@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  min-height: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.navigation {
  position: fixed;
  width: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 130px;
  right: 87px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10; }

.navigation__list {
  list-style: none; }

.navigation__item {
  padding: 6px 8px 9px; }

.navigation__link {
  display: block;
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative; }

.navigation__link-select:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px;
  cursor: default; }

.navigation__link:hover:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px; }

.first {
  background-image: url("../img/background/background-first.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.first-container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.first-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7px; }

.first-header__logo {
  margin-right: auto;
  margin-left: -3px;
  margin-top: 7px; }

.first-header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px; }

.first-header__navigation {
  margin-right: 10px; }

.first-header__list {
  margin: 0;
  padding: 0; }

.first-header__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .first-header__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .first-header__item:last-child:after {
    display: none; }

.first-header__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .first-header__link:hover {
    text-decoration: underline; }

.first-header__btn {
  margin-top: 5px; }

.first-main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 21px;
  padding-bottom: 17%; }

.first-main__img, .first-main__text {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.first-main__img {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.first-main__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.first-main__do {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.first-main__natural {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1;
  margin-top: 10px; }

.first-down {
  width: 15px;
  height: 15px;
  border-bottom-left-radius: 3px;
  border: 2px solid #f3f3f3;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  bottom: 7%;
  left: 50%;
  margin-left: -7px; }

.best {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/background/background-best.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.best-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 76px; }

.best-main__text {
  color: #2f3234;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px;
  text-align: center;
  padding: 0;
  padding-bottom: 60px; }

.best-main__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.best-main__item {
  width: 316px;
  text-align: center; }

.best-main__img {
  display: inline-block;
  width: 95px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center; }

.best-main__caption {
  padding-top: 13px;
  font-family: 'Lifehack';
  font-weight: 500px;
  font-size: 24px;
  line-height: 28px; }

.best-main__info {
  padding-top: 11px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300px; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.review {
  height: 100%;
  position: relative; }
  .review:hover .review__hover {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.review__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 50px 30px 0px 20px;
  background-color: rgba(0, 1, 5, 0.7); }

.review__title {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin-bottom: 15px;
  color: #fff; }

.review__shorttext {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 20px; }

.review__view {
  display: inline-block;
  width: 110px;
  border-radius: 5px;
  background-color: #2f3234;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .review__view:hover {
    background-color: #232527; }

.burgers {
  background-image: url("../img/background/background-burgers.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.team {
  background-image: url("../img/background/background-team.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.team-main {
  background: rgba(48, 51, 50, 0.93);
  padding: 3% 2% 0 5%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 50%; }

.team-text {
  color: #f8b43a;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  margin-bottom: 11%; }

.team-accordeon {
  color: #fff; }

.team-accordeon__item {
  margin-bottom: 1.5rem; }

.team-accordeon__item--activ .team-accordeon__name:hover {
  color: #f8b43a; }

.team-accordeon__item--activ:hover .team-accordeon__content {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 6.25rem; }

.team-accordeon__name {
  color: #fff;
  font-size: .875rem;
  font-family: 'Gagalin';
  text-decoration: none;
  position: relative;
  display: block;
  margin-bottom: 1.25rem; }
  .team-accordeon__name::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -20px;
    display: block;
    height: 7px;
    width: 9px;
    background: url("../../img/icons/triangle.svg") no-repeat; }

.team-accordeon__content {
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team-accordeon__image {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-accordeon__picture {
  width: 6.25rem;
  height: 6.25rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%; }

.team-accordeon__text {
  width: 70%; }

.team-accordeon__title {
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: .9rem; }

.team-accordeon__text-content {
  font-size: .875rem;
  font-weight: 300; }

.menu {
  background-image: url("../img/background/background-menu.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.menu-title {
  position: absolute;
  top: 10%;
  left: 7%;
  font-size: 4.5rem;
  font-family: 'Gagalin';
  color: #fff; }

.menu-accordeon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 0.93; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f3234; }

.menu-accordeon__link {
  display: block;
  min-width: 5rem;
  width: 5rem;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .menu-accordeon__link:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(48, 51, 52, 0.6);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.menu-accordeon__link-text {
  width: 40.625rem;
  position: absolute;
  top: 50%;
  left: -17.81rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -2.4rem;
  color: #fff;
  font-family: 'Gagalin';
  font-size: 2.5rem;
  white-space: nowrap;
  text-align: center; }

.menu-accordeon__content {
  width: 0;
  overflow: hidden;
  display: block;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.menu-accordeon__item--active .menu-accordeon__content {
  width: 33.76rem;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.menu-accordeon__text {
  padding: 3.8rem 2.31rem 0 2.05rem; }

.form {
  background-image: url("../img/background/background-form.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }

.contacts {
  background-image: url("../img/background/background-contacts.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative; }

.contacts-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.contacts-footer {
  background: url("../img/background/footer.jpg") bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  padding: .624rem 0; }

.contacts-footer__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 58.75rem;
  width: 93%;
  margin: 0 auto; }

.contacts-footer__info {
  width: 50%; }

.contacts-footer__address {
  color: #fff;
  font-weight: 300; }

.contacts-footer__link {
  text-decoration: none;
  color: #e25028;
  font-weight: 700; }

.contacts-footer__social {
  width: 50%; }
