.best {
    display: flex;
    background-image: url('../img/background/background-best.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.best-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 76px;
}

.best-main__text {
    color: #2f3234;
    font-family: 'Gagalin';
    font-size: 72px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding-top: 60px;
    text-align: center;
    padding: 0;
    padding-bottom: 60px;
}

.best-main__list {
    display: flex;
    justify-content: space-between;

}

.best-main__item {
    width: 316px;
    text-align: center;
}

.best-main__img {
    display: inline-block;
    width: 95px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.best-main__caption {
    padding-top: 13px;
    font-family: 'Lifehack';
    font-weight: 500px;
    font-size: 24px;
    line-height: 28px;
}

.best-main__info {
    padding-top: 11px;
    font-size:  14px;
    line-height: 24px;
    font-weight: 300px;
}