.best {
    display: flex;
    background-image: url('../img/background/background-best.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

.best-text {
    color: $dark;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding-bottom: rem(60px);

    @include phones {
        margin-bottom: 5%;
        text-align: center;
  }
}

.best-list {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;

    @include phones {
        flex-direction: column;
        align-items: center;
    }

}

.best-item {
    max-width: 33%;
    height: 100%;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include phones {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 3%;
    }
}

.best-img {
    width: 100%;
    margin-bottom: rem(32px);
    flex: 1;

    @include phones {
      margin-right: rem(20px);
      margin-bottom: 0;
    }
}

.best-caption {
    font-family: 'Lifehack';
    font-size: rem(24px);
    font-weight: 500;
    margin-bottom: rem(14px);
    line-height: 1.2;
    display: block;
}

.best-info {
    display: block;
    opacity: 0.8;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
}

.best-pic {
    width: rem(97px);
    height: rem(89px);

    &__red {
        fill: $orange;
    }

    &__yello  {
        fill: $yellow;
    }
    
    &__green {
        fill: $green;
    }
}