.first {
    background-image: url('../img/background/background-first.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-header {
    width: 100%;
    padding-top: rem(12px);
    display: flex;
    justify-content: space-between;
    z-index: 1;

    @include phones {
        padding-top: rem(18px);
    }
}

.first-header__logo {
    margin-left: rem(-2px);
    width: rem(90px);
    height: rem(69px);
    background-image: url(../img/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.first-header__menu {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: rem(13px);
    font-weight: 500;
    padding-top: rem(15px);
}

.first-header__navigation {
    margin-right: rem(10px);

    @include tablets {
        display: block;       
        position: fixed;
        top: -100%;
        height: 100%;
        left: 0;
        right: 0;
        transition:  .6s ;
        background-color: rgba(47,50,52,0.98);
        margin-right:0;
    }
}

.first-header__navigation-activ {
    display: block;
    transition:  .5s ;
    top: 0;
    width: 100%;
    height: 100%;
}

.first-header__list {
    display: inline-block;
    z-index: 10;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: 100%;
    }
}

.first-header__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    @include tablets {
        display: flex;
        flex-direction: column;  
    }

    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include circle(rem(5px), #fff);
        margin: 0 rem(12px);

        @include tablets {
            margin: rem(10px) auto ;
        }
    }

    &:last-child:after {
        display: none;
    }
}

.first-header__link {
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

.first-header__btn {
    margin-top: rem(5px);
}

.first-header__hamburger-link {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
    display: none;

    @include tablets {
        display: flex;
    }
}


.first-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(-29px);

    @include tablets() {
        margin-right:0;
        flex-direction: column;
    }

}

.first-main__img {
    width: 50%;
    margin-top: rem(-6px);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include tablets {
        width: 100%;
        margin-top:0;
        margin-right:0;
        text-align: center;
        margin-bottom: rem(20px);
    }

    @include phones {
        width: 90%;
        align-items: flex-end;
        margin-bottom: 0;
    }
}

.first-main__img-backgraund {
    display: inline-block;
    max-width: 100%;
    height: auto;

    @include tablets {
        height: 100%;

    }

    @include phones {
      max-height: rem(256px);
        height: auto;
    }
}

.first-main__text {
    width: 50%;
    padding-top: rem(50px);
    margin-left: rem(-6px);
    padding-left: rem(1px);

    @include tablets {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left:0;
        padding-left: 20%;
        padding-right: 20%;
        padding: 0 10%;
        height: auto;
    }

    @include phones {
        padding: 0;
    }

}

.first-main__do {
    color: $yellow;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    margin-bottom: rem(13px);
    white-space: nowrap;

    @include phones {
        font-size: rem(63px);
    }
}

.first-main__natural {
    color: #ffffff;
    font-family: 'Lifehack';
    font-size: rem(63px);
    font-weight: 500;
    line-height: rem(61px);
    text-transform: lowercase;
}

.first-next {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content:center;
    align-items: center;
    @include phones {
        height: 16%;
    }
}

.first-next__down {
    display: block;
    width: rem(20px);
    height: rem(20px);
    border-bottom-left-radius: rem(3px);
    border: rem(2px) solid #f3f3f3;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transition: .3s;
}

.first-next__down:hover {
    transition: .2s;
    transform: scale(1.3) rotate(-45deg);
}

.first-header__hamburger-link {
    width: rem(25px);
    height: rem(24px);
    margin-left: rem(30px);
    justify-content: center;
    align-items: center;
    display: none;

    @include tablets {
        display: flex;
        z-index: 1;
    }
}



.first-header__hamburger-menu {
    display: block;
    width: rem(24px);
    height: rem(4px);
    position: relative;
    background-color: #fff;
    border-radius: rem(2px);

    &:before {
        content: "";
        width: rem(24px);
        height: rem(4px);
        position: absolute;
        background-color: #fff;
        border-radius: rem(2px);
        top: rem(10px);
    }

    &:after {
        content: "";
        width: rem(24px);
        height: rem(4px);
        position: absolute;
        background-color: #fff;
        border-radius: rem(2px);
        top: rem(-10px);
    }
}
