.form {
    background-image: url('../img/background/background-form.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.form-center {
    max-width: 58.74rem;
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-title {
    color: $yellow;
    font-family: 'Gagalin';
    font-size: 4.5rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 4.06rem;
    text-align: center;
}

.form-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-order {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.form-order__left {
    flex: 1;
    margin-right: 1.24rem;
}

.form-order__right {
    flex: 1;
}

.form-order__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.94rem;
}

.form-order__input {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1.25rem;
}

.form-order__input-text {
    color: #fff;
    margin-bottom: 0.44rem;
    font-family: 'Ubuntu';
    font-size: 0.875rem;
    font-weight: 300;
}

.form-order__input-name {
    width: 100%;
    font-size: 1rem;
    padding: 0.375rem;
    border-radius: 0.312rem;
    background-color: #fff;
    border: 0.125rem solid transparent;
}

.form-order__input-textarea {
    height: 6.81rem;
    padding: 0.31rem;
    margin-bottom: 0.19rem;
    border-radius: 0.31rem;
    border: 0.125rem solid transparent;
    background-color: #fff;
    resize: none;
}

.form-order__radio {
    display: flex;
    margin-right: 1.311rem;
    color: #fff;
    font-size: 0.874rem;
    font-weight: 300;
    cursor: pointer;
}

.form-order__radio-btn {
    display: none;
}

.form-order__radio-none {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 0.625rem;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: #e35028;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: width .3s,height .3s;
    }
}

.form-order__radio-btn:checked + .form-order__radio-none:after {
  width: 0.5rem;
  height: 0.5rem;
}

.form-order__check-btn {
    display: none;
}

.form-order__check-none {
    width: 1rem;
    height: 1rem;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 0.63rem;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        background: $orange;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.form-order__check-btn:checked + .form-order__check-none:after {
    background-image:  url('../img/icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: .6875rem;
    height: .5625rem;
}

.order-form__btn {
    padding: 0.625rem 0.941rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.81rem;
    font-weight: 500;
    border: none;
}

.order-form__btn-res {
    margin-left: 1.25rem;
    background: none;
    border: none;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}