.navigation {
    position: fixed;
    width: 16px;
    display: flex;
    top: 130px;
    right: 87px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.navigation__list {
    list-style: none;
}

.navigation__item {
    padding: 6px 8px 9px;
}

.navigation__link {
    display: block;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
}

.navigation__link-select:before {
    content: "";
    display: block;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
    cursor: default;
}

.navigation__link:hover:before {
    content: "";
    display: block;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
}