.wrapper {
    width: 100%; 
    height: 100%;
    // min-width: 300px;
    overflow: hidden;
}

.maincontent {
    // width: 100%;
    height: 100%;
    // min-height: rem(650px);
    position: relative;
    top: -0%;
    transition: top 1s;
}

.container {
    max-width: rem(940px);
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    position: relative;
    height: 100%;
    min-width: rem(320px);
    display: flex;
    overflow: hidden;
}

.order-link {
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    &:hover {
      background-color: darken($orange, 7%);
    }
}