@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/Lifehack-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}